<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
    <h1>Bem-vindo a homepage!</h1>
    <hr />

    <h3>Lista de Pedidos:</h3>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Número:</th>
                <th>Produto:</th>
                <th>Valor do produto:</th>
            </tr>
        </thead>
        <tbody>
             <% pedidos.forEach(pedido => { %>
            <tr>
                <td><%= pedido.numero %></td>
                <td><%= pedido.produto %></td>
                <td><%= pedido.valor %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <ul>
      <li><a href="/">Voltar</a></li>
    </ul>
<%- include ('partials/footer.ejs') %>